mat-form-field {
  width: 100%;
}

mat-dialog-container {
  margin-top: 20px;
  margin-bottom: -50px;
}

h3 {
  color: #2a3042;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px !important;
}
.header {
  justify-content: space-between;
}
.closebttn{
  float: right;
 margin-top: -2.5%;;
}


