<div class="container-fluid">

  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h4 class="text-primary">{{dat.fullName}}</h4>
                <p>Soyez le bienvenu !</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <h5 class="font-size-15 text-truncate"></h5>
              <p class="text-muted mb-0 text-truncate">{{dat.libelleAdmProfile}}</p>
            </div>

          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Informations personnels</h4>

          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr >
                  <th scope="row" >Nom de l'utilisateur :</th>
                  <td >{{dat.fullName}}</td>
                </tr>
                <tr>
                  <th scope="row">Profile :</th>
                  <td>{{dat.libelleAdmProfile}}</td>
                </tr>
                <tr>
                  <th scope="row">Téléphone :</th>
                  <td>{{dat.num_phone}}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{dat.email}}</td>
                </tr>
            
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->


      <!-- end card -->
    </div>

    <div class="col-xl-8">


      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Mes projets</h4>
          <div class="table-responsive">
            <table class="table table-nowrap table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col">Référence</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Date début</th>
                  <th scope="col">Date fin</th>
                  <th scope="col">Etat</th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of datt">
                  <td >{{d.refProject}}</td>
                  <td>{{d.nameProject}}</td>
                  <td>{{d.startDate}}</td>
                  <td>{{d.endDate}}</td>
                  <td>{{d.state}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
