h3 {
  color: #2a3042;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px !important;
  margin-top: -1%;
}
mat-grid-list {
  justify-content: left;
}
app-project-add-project{
  height: 100% !important;
}
