<table (matSortChange)="onSortChange($event)" [dataSource]="dataSource" mat-table matSort style="width: 100%">



    <ng-container matColumnDef="codeAdmProfile" width="10%">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
            Code
        </th>
        <td width="15%" style="text-align: center;" *matCellDef="let obj" mat-cell>
            {{obj.codeAdmProfile}}
        </td>
    </ng-container>

    <ng-container matColumnDef="libelleAdmProfile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Libelle </th>
        <td mat-cell *matCellDef="let obj"> {{obj.libelleAdmProfile}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Role </th>
        <td mat-cell *matCellDef="let obj"> {{obj.role}} </td>
    </ng-container>

    <ng-container matColumnDef="libelleAdmProfileAr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Libelle en Arabe </th>
        <td mat-cell *matCellDef="let obj"> {{obj.libelleAdmProfileAr}} </td>
    </ng-container>

    <ng-container matColumnDef="libelleAdmProfileEn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Libelle en Anglais </th>
        <td mat-cell *matCellDef="let obj"> {{obj.libelleAdmProfileEn}} </td>
    </ng-container>
    <ng-container matColumnDef="dateCreation" width="10%">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
            date de création
        </th>
        <td width="15%" style="text-align: center;" *matCellDef="let obj" mat-cell>
            {{obj.dateCreation}}
        </td>
    </ng-container>
    <ng-container matColumnDef="CRUD">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 7%;"> Action </th>
        <td mat-cell *matCellDef="let obj"> 
            <span>
                <button mat-icon-button (click)=" openConfirmDialog(obj)">
                    <mat-icon style="color:red">delete_outline</mat-icon>
                </button>
            </span>
            <span>
                <button mat-icon-button (click)="editProfile(obj)" >
                    <mat-icon style="color:#28a745">brush</mat-icon>
                </button>
            </span>
          
        </td>
    </ng-container>
    <tr *matHeaderRowDef="getCol()" mat-header-row></tr>
    <tr *matRowDef="let row; columns: getCol()" mat-row></tr>
</table>
              

  <app-empty-list [list]="dataSource.data" [withoutBorder]="true"></app-empty-list>